

.entrada-cpf {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.entrada-senha {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.botao-entrar {
    -fx-background-color: linear-gradient(to bottom, #87CEEB, #FFFFFF);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #87CEEB;
    -fx-text-fill: #000000;
}


.fundo-login {
    -fx-background-color: linear-gradient(to bottom, #87CEEB, #FFFFFF);

}

.logo-login {
    -fx-font-family: "Arial Black", Gadget, sans-serif;  /* Escolha uma fonte ousada */
    -fx-font-size: 18px;
    -fx-text-fill: #000000; /* Cor do texto (azul claro no exemplo) */
    -fx-font-weight: bold;
    -fx-padding: 10 20; /* Ajuste o preenchimento conforme necessário */
}

.checkbox-lembrar-senha {
    -fx-font-size: 12px;
    -fx-text-fill: #333333; /* Cor do texto */
}
